<a href="https://colab.research.google.com/github/HarshalBhangale/scratch/blob/main/IIt_python_week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PPA !

Accept a sequence of words as input. Create a dictionary named freq whose keys are the distinct words in the sequence. The value corresponding to a key (word) should be the frequency of occurrence of the key (word) in the sequence.

(1) You can assume that all words will be in lower case.

(2) You do not have to print the output to the console. This will be the responsibility of the autograder.

In [ ]:
L = input().split(',')
freq= dict()
for x in L:
  if x not in freq:
    freq[x]=0
  else:
    freq[x] = freq[x] + 1



print(freq)

a,b,c,d,e,f,g,h,i,j,k,l,a,b,c,c,d,e,f,f,f,f,f
{'a': 1, 'b': 1, 'c': 2, 'd': 1, 'e': 1, 'f': 5, 'g': 0, 'h': 0, 'i': 0, 'j': 0, 'k': 0, 'l': 0}

========================================================================================


Accept a positive integer as input and print the digits present in it from left to right. Each digit should be printed as a lower case word on a separate line. How would you use dictionaries to solve this problem?

In [ ]:
L = {'0':'zero','1':'one','2':'two','3':'three','4':'four','5':'five','6':'six','7':'seven','8':'eight','9':'nine'}


numb=input('enter the Number you wanted in printed format :::')
for x in numb:
  print(L[x],end =',')

enter the Number you wanted in printed format :::8456845
eight,four,five,six,eight,four,five,

========================================================================================================


1) is_key: accept a dictionary D and a variable key as arguments. Return True if the variable key is a key of the dictionary D, and False otherwise.

(2) value: accept a dictionary D and a variable key as arguments. If the variable key is not a key of the dictionary D, return None, otherwise, return the value corresponding to this key.

 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
def is_key(D, key):
    '''
        Arguments:
            D: dict
            key: could be of any type
        Return:
            bool
    '''
    pass

def value(D, key):
    '''
        Arguments:
            D: dict
            key: could be of any type
        Return:
            result: depends on the dict; refer problem statement
    '''

In [ ]:


def is_key(D, key):
    return key in D

def value(D, key):
    if is_key(D,key):
      return D[key]
    return None

========================================================================================

In [ ]:
values = []
def value_to_keys(D,value):
  for key in D:
    if D[key] == value:
      values.append(key)
  return values

print(values)

value_to_keys({'a': 1, 'b': 2, 'c': 3, 'd': 1, 'e': 2, 'f': 1, 'g': 1}, 100)

[]

[]

========================================================================================

In [ ]:
'''D={'1': 'one', '2': 'two', '3': 'three', '4': 'four'}
def dict_list(D):
  nlist=[]
  for key in D:
    nlist.append((key,D[key]))
  return nlist
dict_list(D)
'''
L=[('def', 10), ('abc', 3)]

def list_dict(L):
  D = dict()
  for i,j in L:
    D[i]=j
  return D
  # l[1]=key and l[2]=D[key]


list_dict(L)

{'abc': 3, 'def': 10}

========================================================================================

In [ ]:
dataset = {'SeqNo': 1, 'Name': 'Devika', 'Gender': 'F', 'City': 'Bengaluru', 
 'Mathematics': 85, 'Physics': 60, 'Chemistry': 79, 'Biology': 75, 
 'Computer Science': 88, 'History': 60, 'Civics': 88, 'Philosophy': 95}
subject = 'Civics'

'''
Li = []
def fetch_marks(dataset,subject):
  
  # Created Empty list Here
  for student 

fetch_marks(dataset, 'Physics')
print(Li)


DO AGAIN
'''

"\nLi = []\ndef fetch_marks(dataset,subject):\n  \n  # Created Empty list Here\n  for student \n\nfetch_marks(dataset, 'Physics')\nprint(Li)\n\n\nDO AGAIN\n"

In this problem, we shall try to create the list of dictionaries which was given to us in the previous problem.

Accept a positive integer nn that represents the number of students in the class. nn blocks of input follow. Each block is made up of six lines and contains the details of one student in the class. Create a dictionary corresponding to each student. All keys should be strings. The type of the value corresponding to a key and the order in which the inputs should be accepted are shown in the table given below.

Line number	Key	Type of Value

1	Name	String

2	City	String

3	SeqNo	Integer

4	Mathematics	Integer

5	Physics	Integer

6	Chemistry	Integer
Append each dictionary to a list named scores_dataset. This is the list that we will finally use for evaluating your code. The dictionaries corresponding to the students should be appended in the order in which they appear in the sequence of inputs.

In [ ]:
n = int(input())
dataset = []
for i in range(n):
  d=dict()
  d['NAME']=input()
  d['CITY']=input()
  d['SEQNO']=input()
  d['MATHS']=input()
  d['PHYSICS']=input()
  d['CHEMISTRY']=input()
  dataset.append(d)


print(dataset)

1
harshal
1
85
7
48
89
[{'NAME': 'harshal', 'CITY': '1', 'SEQNO': '85', 'MATHS': '7', 'PHYSICS': '48', 'CHEMISTRY': '89'}]

In [ ]:
num = int(input())
def factors(num):
  factors = set()
  for i in range(1,num):
    if num % i == 0:
      factors.add(i)
  return factors
factors(num)

print(factors)   


def common_factors(a, b):
  

def factors_upto(n):
  pass

100
<function factors at 0x7f9f414a9320>